<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baby Name Generator</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <h1 class="header__title">
            Baby Name Generator
        </h1>
    </header>
    
    <div class="intro">
        <p class="intro__para">
            
            INTRO HERE
            
        </p>
    </div>
    
    <div class="main">
        
        
        <form action="/baby" class="main__form" method="post">
            
            <p class="main__group">
                <label for="gender">Gender</label>
                <select name="gender" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </p>
            <p class="main__group">
                <label for="region">Country</label>
                <select name="region" id="region">
                   
                    <% namesArray.map((name) => { %>         
                        <option value="<%= name.region %>"><%= name.region %></option>
                    <% }); %>
                    
                </select>
            </p>
            <p class="main__group">
                <label for="amount">How many names?</label>
                <input type="text" name="amount" id="amount" value="1" required>
            </p>
            
            <p class="main__group">
               <label for="ext">Would you like an email address for your baby?</label>
                <input type="radio" name="ext" value="yes">Yes
                <input type="radio" name="ext" value="no">No
            </p>
            
            
            <button class="main__submit">Find Names</button>
            
        </form>
        
    </div>
    
    <footer class="footer">
        FOOTER HERE
    </footer>
</body>
</html>