<!DOCTYPE html>
<html lang="en">
<head>
    <title>Baby Name Generator</title>
    <% include ../partials/head.ejs %>
</head>
<body>
    <header class="header">
        <h1 class="header__title">
            Baby Name Generator
        </h1>
    </header>
    
    <div class="intro">
        <p class="intro__para">
            Are you and your significant other unable to decide on a name for your new baby? Did you try to give your baby the most unique name possible and now regret it? (name change forms only <a href="https://info.legalzoom.com/steps-legally-change-name-20369.html" target="_blank">cost about $100</a>) Let fate decide by using the baby name generator. Customizable by gender, region and total names. You can even generate an email address for your unborn baby!
        </p>
    </div>
    
    <div class="main">
        <i class="fas fa-venus-mars"></i>
        
        <form action="/baby" class="main__form" method="post">
            
            <p class="main__group">
                <label for="gender">Gender</label>
                <select name="gender" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </p>
            <p class="main__group">
                <label for="region">Country</label>
                <select name="region" id="region">
                   
                    <% namesArray.map((name) => { %>         
                        <option value="<%= name.region %>"><%= name.region %></option>
                    <% }); %>
                    
                </select>
            </p>
            <p class="main__group">
                <label for="amount">How many names?</label>
                <input type="number" name="amount" id="amount" value="1" required>
            </p>
            
            <p class="main__group">
               <label for="ext">Would you like an email address for your baby?</label>
                <input type="radio" name="ext" value="yes">Yes
                <input type="radio" name="ext" value="no" checked>No
            </p>
            
            
            <button class="main__submit">Find Names</button>
            
        </form>
        
    </div>
    
    <footer class="footer">
        <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a>
    </footer>
</body>
</html>