:root {
  box-sizing: border-box; }

*, ::before, ::after {
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.header, .intro, .footer, .main, .main__group {
  margin: 2em 2em; }
