<footer class="footer">
    <p class="footer__copyright">&copy; <span class="footer__year">2017</span> Jason Duquain - All rights reserved</p>
    <a href="https://www.freepik.com/free-photos-vectors/background" class="footer__meh">Background vector created by freepik - www.freepik.com</a>
</footer>